.movie-app {
  /* max-width: 900px; */
  margin: 0 auto;
  font-family: sans-serif; 
  background-image: url(https://images.cdn4.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823382.jpg);
  background-position: center;
  background-size:contain;
}
.movie-app-header {
  display: flex;
  justify-content: space-between;
}
.name-filter {
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 10px;
}
.name-filter-text {
  flex: 1;
  border: 2px solid  rgba(26, 111, 221, 0.747);
  background-color:transparent;
  
  /* border: none; */
  
}
.name-filter-button {
  border: 2px solid rgba(26, 111, 221, 0.747);
  /* border-left: black; */
  border-radius: 6px;
  background-color: transparent;
  padding: 0 10px;
}
.rating-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}
.rating-filter-text {
  font-size: 24px;
  padding: 31px 0px 0px;
}
.movie-app-main {
  margin-top: 20px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-card,
.new-movie-card {
  border: 2px solid rgb(243, 6, 6);
  /* border: none; */
  width: 200px;
  height: 250px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  /* border: 2px solid rgb(243, 6, 6);; */
  border: none;
  border-top: none;
  border-right: none;
  font-size: 26px;
}
.movie-image {
  background-image: url(https://www.mearto.com/assets/no-image-83a2b680abc7af87cfff7777d0756fadb9f9aecd5ebda5d34f8139668e0fc842.png);
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.movie-description {
  border-top: 2px solid rgb(243, 6, 6);
  text-align: center;
  font-size: bold;

  padding: 10px;
}
.new-movie-card {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
